@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

 

@{
    ViewData["Title"] = "AddData";
}
 

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style> 
        table {
           /* margin:2%;
            width:60%;
           */
           width:50%;
           margin-top:2%;


            margin-left: auto;
            margin-right: auto;
        }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

</style>

</head>



<body onload="CellClicked()">






    <form style="border:1px solid black; margin:5%;">

         <img src="~/images/logo.jpg" alt="" style="max-width:100px;max-height:100px"/>
        <img src="https://us.123rf.com/450wm/doublerdesign/doublerdesign2109/doublerdesign210900137/174246874-sewing-machine-logo-design-template-for-tailor-shop.jpg?ver=6" alt="logo" style="max-width:100px;max-height:100px" />



        <h4 style="text-align:center;"><b>Receipt</b> </h4>
        <div style="display:flex"> 
        <table >
 

                <tr>
                    <th>Order Number</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th> Date </th>
                    <td>12/3/3045</td>
                </tr>


                

        </table>
            <table>


                <tr>
                    <th>Tel No.</th>
                    <td>13456789</td>
                </tr>
                <tr>
                    <th> Address </th>
                    <td>jhbwfgdgggggggggggggggggggggg</td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td>tailors@gmail.com</td>
                </tr>
                



            </table>
        </div>

        <table>

            <tr>
                <th>Pattern</th>
                <th>Quantity</th>
                <th>Amount Due</th>
                <th>Due/Delivery Date</th>
            </tr>
            <tr>

            </tr>


        </table>

        





    </form>

















































    <form asp-controller="ConvertUrlToPdf" asp-action="SubmitAction" method="post">
        <article class="post type-post status-publish format-standard hentry">
            <header class="entry-header">
                <h1 class="entry-title">SelectPdf for .NET - Convert from Html to Pdf - C# / ASP.NET MVC Sample</h1>
            </header>
            <!-- .entry-header -->

            <div class="entry-content">
                <p>
                    This sample shows how to use SelectPdf html to pdf converter to convert an url to pdf, also setting a few properties.
                </p>
                <p>
                    Url:<input type="text" value="http://selectpdf.com" name="TxtUrl" style="width: 90%;"><br>

                </p>
                <div class="col2">
                    Pdf Page Size:<br>
                    <select name="DdlPageSize">
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="A3">A3</option>
                        <option value="A4" selected="">A4</option>
                        <option value="A5">A5</option>
                        <option value="Letter">Letter</option>
                        <option value="HalfLetter">HalfLetter</option>
                        <option value="Ledger">Ledger</option>
                        <option value="Legal">Legal</option>
                    </select><br>
                    <br>
                    Pdf Page Orientation:<br>
                    <select name="DdlPageOrientation">
                        <option value="Portrait" selected="">Portrait</option>
                        <option value="Landscape">Landscape</option>
                    </select><br>
                    <br>
                </div>
                <div class="col2">
                    Web Page Width:<br>
                    <input name="TxtWidth" type="text" value="1024" style="width: 50px;"> px<br>
                    <br>
                    Web Page Height:<br>
                    <input name="TxtHeight" type="text" value="" style="width: 50px;"> px<br>
                    (leave empty to auto detect)<br>
                    <br>

                </div>
                <div class="col-clear"></div>
                <p>
                    <input type="submit" name="BtnConvert" value="Create PDF" class="mybutton">
                </p>
            </div>
            <!-- .entry-content -->
        </article>
    </form>


    @*<input type="text" value="http://selectpdf.com" name="TxtUrl" style="width: 90%;">
    <input name="TxtWidth" type="text" value="1024" style="width: 50px;">
    <select name="DdlPageSize">
        <option value="A1">A1</option>
        <option value="A2">A2</option>
        <option value="A3">A3</option>
        <option value="A4" selected="">A4</option>
        <option value="A5">A5</option>
        <option value="Letter">Letter</option>
        <option value="HalfLetter">HalfLetter</option>
        <option value="Ledger">Ledger</option>
        <option value="Legal">Legal</option>
    </select>


    <select name="DdlPageSize">
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                    <option value="A4" selected="">A4</option>
                    <option value="A5">A5</option>
                    <option value="Letter">Letter</option>
                    <option value="HalfLetter">HalfLetter</option>
                    <option value="Ledger">Ledger</option>
                    <option value="Legal">Legal</option>
                </select>


    <input name="TxtHeight" type="text" value="" style="width: 50px;">

    <input type="submit" name="BtnConvert" value="Create PDF" class="mybutton">*@
















    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">





    <!--<div class="text-center">
        <h1 class="display-4">Welcome 2</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <table class="DataTable">
            <tr class="DataTable">
                <th class="DataTable"> Employee_ID </th>
                <th class="DataTable"> Name</th>
                <th class="DataTable"> Data </th>

            </tr>-->
    @*<tr class="DataTable">
            <td class="DataTable">1234</td>
            <td class="DataTable">Saloni</td>
            <td class="DataTable">Newxxxxx</td>


        </tr>
        <tr class="DataTable">
            <td class="DataTable"></td>
            <td class="DataTable">Newxxxxx</td>
            <td class="DataTable">Newxxxxx</td>

        </tr>*@

    <!--<tbody id="TableBody">
            </tbody>


        </table>


    //    <button onclick="buildTable(MyArray)">AddEmployeeName</button>

        <form onsubmit="event.preventDefault();" autocomplete="off">


            <label>EmployeeID</label>
            <input type="text" class="Empl" value="" placeholder="EmployeeID">

            <label>Name</label>
            <input type="text" class="designation" value="" placeholder="Name">

            <label>Mobile</label>
            <input type="text" class="mobile" value="" placeholder="Employ Mobile">

            <label>Salary</label>
            <input type="text" class="empsalary" value="" placeholder="Employ Salary">

            <div style="width:100%">
                <input type="submit" value="Submit" class="button">

            </div>
        </form>
    </div>-->
    @*<div class="employpage">*@



    <div class="formdata">

        <form onsubmit="event.preventDefault();" autocomplete="off">
            <ul style="list-style-type: none;">
                <li>
                    <label>EmployeeID</label>
                    <input type="text" class="empID" value="" placeholder="EmployeeID">
                </li>


                <li>
                    <label>Name</label>
                    <input type="text" class="empname" value="" placeholder="Employee Name">
                </li>
                <li>
                    <label>data</label>
                    <input type="text" class="data" value="" placeholder="Employee data">
                </li>
            </ul>



            <div id="sal" style="width: 10%; display: inline-grid; grid-gap: 50px">
                <input type="submit" value="Submit" class="button2" name="submit">

                @*<button style="font-size:24px">Button <i class="material-icons">delete</i></button>*@

            </div>

            <div id="saldel" style="width: 15%; display: inline-grid; grid-gap: 50px ">
                <input type="submit" value="Delete By EmployeeID" class="delete_button" name="delete" icon="&#xe872">

            </div>



            @*<div id="saldel" style="width:100%">
                    <input type="submit" value="Delete By EmployeeID" class="delete_button" name="delete">

                </div>*@

        </form>


    </div>






    @*<div class="display_table">
            <table class="list" id="employeeList">
                <thead>
                    <tr>
                        <th>EmployeeID</th>
                        <th>Name</th>
                        <th>Data</th>



                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>



        </div>*@


    @*MODAL SECTION*@
    <div class="container">

        <!-- Trigger the modal with a button -->
        <button id="ModalButton" data-toggle="modal" data-target="#myModal"></button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>*@
                    </div>
                    <div class="modal-body" style="align-self:center;position:center">
                        <p id="instruction" ></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="update" type="button" class="btn btn-primary"  >Save changes</button>
                    </div>
                </div>

            </div>
        </div>

    </div>




    @*MODAL SECTION END*@


</body>


<script src="./js/site.js" defer></script>



