@{
    ViewData["Title"] = "CustomerMeasurementDetails";
}

@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@



<head>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <input type="text">
    <button onclick="add()">Add</button>
    <button onclick="remove()">remove</button>
    <div id="new_chq"></div>
    <input type="hidden" value="1" id="total_chq">*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link href="/css/createOrder.css" rel="stylesheet" media="all">

</head>



<body onload="getCustomer('getCustomerID','select')">
    <form   style="background-color:white; padding:5%; margin:5%">
        <div class="form-group">

            <label for="getCustomerID"> CustomerID     <button class="btn" id="searchbtn" onclick="getCustomerMeasurementDetails(event)" style="color:blue;"> Search Measurements</button>  </label>
            <select id="getCustomerID" class="form-control" name="CustomerID" style="width:30%" required>
                <option value="" disabled selected hidden>CustomerID</option>

            </select>

        </div>
    @*    <div class="form-group">

            <label for="getCustomerID"> Measurements   <button class="btn" id="searchbtn" onclick="getCustomerMeasurementDetails(event)" style="color:blue;"> Search</button> </label>
            
        </div>
*@
        <div class="display_tableM" id="ccc" style="display:none;width: auto;border:1px solid black; margin-left:28% ; margin-right:20% ;height:auto;">
            <table class="list" id="employeeList" style="width: auto; height: auto;">
                <thead>
                    <tr>
                        @*<th>CustomerID</th>*@
                        <th>MeasurementType</th>
                        <th>Measurement</th>
                        <th>Metric</th>


                    </tr>
                </thead>
                <tbody id="customerMeasurementDetailsBody">
                </tbody>


            </table>
        </div>

    <div class="row">

        <div class="col">
            <div class="form-group">

                <label for="MeasurementType"> Measurement Type</label>
                <select id="MeasurementType" class="form-control" name="MeasurementType" style="margin:2%" required>
                    <option value="" disabled selected hidden>Measurement Type</option>

                </select>


            </div>
        </div>
        <div class="col">


            <div class="form-group">

                <label for="Measurement">Measurement</label>
                <input id="Measurement" type="text" class="form-control" placeholder="Measurement" name="Measurement" style="margin:2%" required>
                  
            </div>
        </div>

        <div class="col">


            <div class="form-group">

                <label for="Metric">Metric</label>
                <select id="Metric" class="form-control" name="unit" style="margin:2%" required>
                    <option value="" disabled selected hidden>Unit</option>
                    <option value="cm">cm</option>
                    <option value="inches">inches</option>
                    <option value="feet">feet</option>
                    <option value="yards">yards</option>
                </select>


            </div>
        </div>
            <div class="col">
                <div class="form-group">
                    <label for="c"></label>
                    <input id="c" type="submit" value="Add" style="color:white;background-color:black" onclick="AddMeasurementFieldHelper(event)" class="form-control">
    </div>
      </div>
            <div class="col">
                <div class="form-group">
                    <label for="d"></label>
                    <input id="d" type="submit" value="Delete" style="color:white;background-color:black" onclick="DeleteMeasurementFieldHelper(event)" class="form-control">
                </div>
            </div>

     
    </form>
    

    <form class="formdeco" style="display:none;background-color:white; width:80%;margin:5%">
        <div class="selection"> 
    <select id="getCustomerID" class="drop-down" name="CustomerID" style="width:30%" required>
        <option value="" disabled selected hidden>CustomerID</option>

    </select>
    @*<input id="getCustomerID" type="text" placeholder="CustomerID" name="Measurement" required>*@
            <button class="btn" onclick="getCustomerMeasurementDetails(event)" style="color:white;background-color:black"> Search</button>
        </div>
    <div class="employpage">

        @*<button class="open-button" onclick="openForm()">Add New Customer</button>

        <div class="form-popup" id="myForm">
        <form class="form-container">


        <label><b>Customer ID</b></label>
        <input id="CustomerID" type="text" placeholder="Customer ID" name="Customer ID" required>

        <label><b>Name</b></label>
        <input id="CustomerName" type="text" placeholder="Name" name="Name" required>

        <label><b>Phone</b></label>
        <input id="Phone" type="number" placeholder="Phone" name="Phone" required style="width:100%">

        <label><b>Email</b></label>
        <input id="Email" type="email" placeholder="Email" name="Email">

        <label><b>Address</b></label>
        <input id="Address" type="text" placeholder="Address" name="Address" required>




        <button class="btn" onclick="AddCustomerHelper()">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
        </div>*@


            <div class="display_tableM" style="width: auto; height:auto;margin-left:20%;margin-right:20%">
            <table class="list" id="employeeList" style="width: auto; height: auto;">
                <thead>
                    <tr>
                        @*<th>CustomerID</th>*@
                        <th>MeasurementType</th>
                        <th>Measurement</th>
                        <th>Metric</th>


                    </tr>
                </thead>
                <tbody id="customerMeasurementDetailsBody">
                </tbody>


            </table>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>



    </div>
 


        <div class="selection" style="display:none; ">

            <select id="MeasurementType" class="drop-down"  name="MeasurementType" style="margin:2%" required>
                <option value="" disabled selected hidden>Measurement Type</option>

            </select>
            <input id="Measurement" type="text" class="drop-down" placeholder="Measurement" name="Measurement" style="margin:2%" required>
            <select id="Metric" class="drop-down" name="unit" style="margin:2%" required>
                <option value="" disabled selected hidden>Unit</option>
                <option value="cm">cm</option>
                <option value="inches">inches</option>
                <option value="feet">feet</option>
                <option value="yards">yards</option>
            </select>
            <input type="submit" value="Add" style="color:white;background-color:black" onclick="AddMeasurementFieldHelper(event)" class="btn btn-primary">
            @*<button class="btn" onclick="AddMeasurementFieldHelper(event)">Add</button>*@
 

        </div>
    </form>
    <p id="cars2"></p>
</body>

<script src="./js/site.js" defer></script>
