@{
    ViewData["Title"] = "Customers";
}

@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@



<head>

</head>



<body onload="getCustomer('customerBody', 'all')">


    <div class="employpage">
        <a class="open-button" style="text-align:center" href="/Home/AddNewCustomer">Add New Customer</a>

        @*<button class="open-button" onclick="openForm()">Add New Customer</button>
*@
     @*   <div class="form-popup" id="myForm">
            <form class="form-container">


                <label><b>Customer ID</b></label>
                <input id="CustomerID" type="text" placeholder="Customer ID" name="Customer ID" required>

                <label><b>Name</b></label>
                <input id="CustomerName" type="text" placeholder="Name" name="Name" required>

                <label><b>Phone</b></label>
                <input id="Phone" type="number" placeholder="Phone" name="Phone" required style="width:100%">

                <label><b>Email</b></label>
                <input id="Email" type="email" placeholder="Email" name="Email">

                <label><b>Address</b></label>
                <input id="Address" type="text" placeholder="Address" name="Address" required>




                <a class="btn" href="/Home/AddNewCustomer">Add</a>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
*@

        <div class="display_tableM" style="margin-left:3%;">
            <table class="list" id="employeeList" style=" width: 100%; height: 100%;">
                <thead>
                    <tr>
                        <th>CustomerID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody id="customerBody">
                </tbody>


            </table>
 

           @* <button class="btn" onclick="">Add</button>*@
        </div>





        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>



    </div>

</body>

<script src="./js/site.js" defer></script>