@{
    ViewData["Title"] = "EditOrders";
}

@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@



<head>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <input type="text">
    <button onclick="add()">Add</button>
    <button onclick="remove()">remove</button>
    <div id="new_chq"></div>
    <input type="hidden" value="1" id="total_chq">*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="/css/createOrder.css" rel="stylesheet" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</head>


<button style="margin-left:90%;margin-right:0" onclick="printEditOrders()"><i class="fa fa-print fa-2x" aria-hidden="true"></i></button>


<body onload="EditOrdersHelper()"> 
    <br />

    <form  style="background-color:white; padding:5%; margin:5%;">
        <div id="orderNum"></div>
    <div class="form-group row">
        <label for="CustomerID" class="col-sm-2 col-form-label">CustomerID</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="CustomerID">
        </div>
    </div>

        <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="CustomerName">
            </div>
        </div>
        <div class="form-group row">
            <label for="Pattern" class="col-sm-2 col-form-label">Pattern</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Pattern">
            </div>
        </div>
        <div class="form-group row">
            <label for="Price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Price">
            </div>
        </div>
        <div class="form-group row">
            <label for="Quantity" class="col-sm-2 col-form-label">Qty</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Quantity">
            </div>
        </div>

        <div class="form-group row">
            <label for="Cost" class="col-sm-2 col-form-label">Cost</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Cost">
            </div>
        </div>

        <div class="form-group row">
            <label for="TaxPercent" class="col-sm-2 col-form-label">Tax Percent</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="TaxPercent">
            </div>
        </div>

        <div class="form-group row">
            <label for="Tax" class="col-sm-2 col-form-label">Tax</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Tax">
            </div>
        </div>

        <div class="form-group row">
            <label for="AmountDue" class="col-sm-2 col-form-label">Amount Due</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="AmountDue">
            </div>
        </div>


        <div class="form-group row">
            <label for="DeliveryDate" class="col-sm-2 col-form-label">Delivery Date</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="DeliveryDate">
            </div>
        </div>






        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Order Status</label>
          
                <div class="form-check form-check-inline">
                
                <input type="checkbox" class="radio" value="In progress" name="fooby[1][]" />In progress
                 
                </div>

                  <div class="form-check form-check-inline">

                    <input type="checkbox" class="radio" value="Ready For Delivery" name="fooby[1][]" />Ready For Delivery
                </div>

                <div class="form-check form-check-inline">

                    <input type="checkbox" class="radio" value="Delivered" name="fooby[1][]" />Delivered

                </div>
       
        </div>
        <div class="form-group row">
            <label for="DeliveryStatus" class="col-sm-2 col-form-label">Delivery Status</label>
            <div class="col-sm-10">

        <select id="DeliveryStatus" class="form-control"   required>
            <option value="" disabled selected hidden>Delivery Status</option>
            <option value="Complete">Complete</option>
            <option value="Incomplete">Incomplete</option>
        </select>
        </div>

        </div>

        <div style="padding:3%;margin-left:60%;">

            <button style=" width:5em; height:2em;border-radius:7%;color:white;background-color:black;   margin-top:0.3em; " id="CreateOrder" class="CreateOrderBtn" onclick="updateOrderStatus(event)">Update</button>

            <button style="  width:5em; height:2em;border-radius:7%;color:white;background-color:black;  margin-top:0.3em; " id="CreateOrder" class="CreateOrderBtn" onclick="deleteOrder(event)">Delete</button>


            <button style=" width:5em; height:2em; border-radius:7%;color:white;background-color:red;   margin-top:0.3em; " id="CreateOrder" class="CreateOrderBtn" @*onclick="location.replace('https://localhost:7238/Home/ClosedOrders')"*@>Cancel</button>
        </div>
        </div>
   
    </form>



    <form class="formDeco style="display:none">
        <div class="selection">


            <div id="orderNum"></div>
            <br/>
            <div id="CustomerID"></div>
            <div id="CustomerName"></div>
            

            <div id="Pattern"></div>
            <div id="Price"></div>
            <div id="Quantity"></div>
            <div id="Cost"></div>
            <div id="TaxPercent"></div>
            <div id="Tax"></div>
            <div id="AmountDue"></div>
            <div id="DeliveryDate"></div>
           @* <div>
             
                <label>
                    <input type="checkbox" class="radio" value="In progress" name="fooby[1][]" />In progress
                </label>
                <label>
                    <input type="checkbox" class="radio" value="Ready For Delivery" name="fooby[1][]" />Ready For Delivery
                </label>
                <label>
                    <input type="checkbox" class="radio" value="Delivered" name="fooby[1][]" />Delivered
                </label>
            </div>*@

            <table class="tablex" style="border-spacing:10px; display:none">
               @* <tr><td>CustomerID</td>
                    <td><div id="CustomerID"></div></td>
                </tr>*@
                <tr>
                    <td>OrderStatus</td>
                    <td>
                        <label>
                            <input type="checkbox" class="radio" value="In progress" name="fooby[1][]" />In progress
                        </label>
                        </td>
                        <td>
                        <label>
                            <input type="checkbox" class="radio" value="Ready For Delivery" name="fooby[1][]" />Ready For Delivery
                        </label>
                        </td>
                        <td>
                        <label>
                            <input type="checkbox" class="radio" value="Delivered" name="fooby[1][]" />Delivered
                        </label>
                        
                    </td>



                </tr>

              

               @* <tr>
                    <td><label><b>Order Status</b></label></td>
                    <td>
                        <select id="OrderStatus" class="drop-down" >
                            <option value="" disabled selected hidden>Order Status</option>
                            <option value="In progress">In progress</option>
                            <option value="Ready For Delivery">Ready For Delivery</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                    </td>
                </tr>*@
                <br />
             
            </table>


        </div>




        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>


     
        <div style="padding:3%;margin-left:60% ;display:none">

        <button style=" border-radius:7%;color:white;background-color:black; padding:0.9em; margin-top:0.3em; " id="CreateOrder" class="CreateOrderBtn" onclick="updateOrderStatus(event)">Update</button>

            <button style=" border-radius:7%;color:white;background-color:black; padding:0.9em; margin-top:0.3em; " id="CreateOrder" class="CreateOrderBtn" onclick="deleteOrder(event)">Delete</button>


            <button style=" border-radius:7%;color:white;background-color:red; padding:0.9em; margin-top:0.3em; " id="CreateOrder" class="CreateOrderBtn" @*onclick="location.replace('https://localhost:7238/Home/ClosedOrders')"*@>Cancel</button>
         </div>
         <div></div>
    </form>
    <table id="salonikhule" style="display:none"></table>












    <form asp-controller="ConvertHtmlCodeToPdf" asp-action="SubmitAction2" method="post" style="display:none;">
        <article class="post type-post status-publish format-standard hentry">
            <header class="entry-header">
                <h1 class="entry-title">SelectPdf for .NET - Convert from Html to Pdf - C# / ASP.NET MVC Sample</h1>
            </header>
            <!-- .entry-header -->
            <div class="entry-content">
                <textarea id="TxtHtmlCode" name="TxtHtmlCode" style="height:150px; width: 90%;">
                <html> 
                <body> 
                                        Hello World from selectpdf.com.
                <div id="salonikhule"></div>
            
           </body>
                    @*  &lt;/body&gt;*@
                   </html>
                </textarea>
                 
                <input type="text" value="" name="TxtBaseUrl" style="width: 90%;">

                <div class="entry-content">
                    <p>
                        This sample shows how to use SelectPdf html to pdf converter to convert an url to pdf, also setting a few properties.
                    </p>
                    <p>
                        Url:<input type="text" value="" id="inpt" name="TxtUrl" style="width: 90%;"><br>

                    </p>
                    <div class="col2">
                        Pdf Page Size:<br>
                        <select name="DdlPageSize">
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="A3">A3</option>
                            <option value="A4" selected="">A4</option>
                            <option value="A5">A5</option>
                            <option value="Letter">Letter</option>
                            <option value="HalfLetter">HalfLetter</option>
                            <option value="Ledger">Ledger</option>
                            <option value="Legal">Legal</option>
                        </select><br>
                        <br>
                        Pdf Page Orientation:<br>
                        <select name="DdlPageOrientation">
                            <option value="Portrait" selected="">Portrait</option>
                            <option value="Landscape">Landscape</option>
                        </select><br>
                        <br>
                    </div>
                    <div class="col2">
                        Web Page Width:<br>
                        <input name="TxtWidth" type="text" value="1024" style="width: 50px;"> px<br>
                        <br>
                        Web Page Height:<br>
                        <input name="TxtHeight" type="text" value="" style="width: 50px;"> px<br>
                        (leave empty to auto detect)<br>
                        <br>

                    </div>
                    <div class="col-clear"></div>
                    <p>
                        <input id="printSubmit" type="submit" name="BtnConvert" value="Create PDF" class="mybutton">
                    </p>
                </div>
                <!-- .entry-content -->
        </article>
    </form>















</body>

<script src="./js/site.js" defer></script>

<script>
    // the selector will match all input controls of type :checkbox
    // and attach a click event handler
    $("input:checkbox").on('click', function () {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });</script>