@{
    ViewData["Title"] = "ViewOrders";
}

@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@



<head>
    <link href="/css/ViewOrders.css" rel="stylesheet" media="all">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<body onload=" getOrders() ">


    <div class="employpage">

        @*<button class="open-button" onclick="openForm()">Add New Pattern</button>

        <div class="form-popup" id="myForm">
        <form class="form-container">


        <label><b>Pattern</b></label>
        <input id="Pattern" type="text" placeholder="Pattern" name="Pattern" required>



        <button class="btn" onclick="AddPatternHelper()">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
        </div>*@


        <div class="display_tableM">
            <table class="list" id="employeeList" style="width: 100%; height: 100%;">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Customer Name</th>
                        <th>Customer ID</th>
                        <th>Amount Due</th>
                        <th>Delivery Date</th>


                    </tr>
                </thead>
                <tbody id="orderBody">
                </tbody>


            </table>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>



    </div>


    @*MODAL SECTION*@
    <div class="container">

        <!-- Trigger the modal with a button -->
        <button id="ModalButton" data-toggle="modal" data-target="#myModal"></button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="width:500px">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>*@
                        <label id="headerModal"></label>
                    </div>
                    <div class="modal-body" style="align-self:center;position:center">
                        <p id="instruction"></p>
                    </div>
                    <div style="display:flex;">

                        @*<ul style="font-size:medium; align-self:center;">

                        <li> <b id="CustomerName"></b></li>
                        <li> <b id="Phone"></b></li>
                        <li><b id="Email"></b></li>
                        <li> <b id="Address"></b></li>

                        </ul>*@
                        <table id="hori" style="border: 1px solid green; width: 50%; padding: 10px; margin: 0 auto;"></table>





                        @*<form style="margin-left:50%;background-color:darkcyan;">
                        <ul>
                        <li>"${instruction.Phone}" </li>
                        <li>hi</li>
                        <li>hi</li>
                        <li>hi</li>

                        </ul>
                        </form>*@

                    </div>

                    <table style="padding: 10px;  text-align: center;width:90%;">

                        <thead style="background-color:lightgray; ">
                            <tr>


                                <th style="text-align: center;margin: 17%;">Pattern</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Advance Paid</th>
                                <th>Due</th>
                                <th>Due Date</th>


                            </tr>
                        </thead>

                        <tbody id="modalTbody"></tbody>
                    </table>








                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="update" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>

            </div>
        </div>

    </div>




    @*MODAL SECTION END*@










</body>

<script src="./js/site.js" defer></script>