@{
    ViewData["Title"] = "ViewOrders";
}

@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@



<head>
    <link href="/css/site.css" rel="stylesheet" media="all">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<body onload=" getOrders() ">

   
    <div class="employpage">

        @*<button class="open-button" onclick="openForm()">Add New Pattern</button>

        <div class="form-popup" id="myForm">
        <form class="form-container">


        <label><b>Pattern</b></label>
        <input id="Pattern" type="text" placeholder="Pattern" name="Pattern" required>



        <button class="btn" onclick="AddPatternHelper()">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
        </div>*@


        <div class="display_tableM">
            <table class="list" id="employeeList" style="width: 100%; height: 100%;">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        
                        <th>Amount Due</th>
                        <th>Delivery Date</th>
                        <th>Status</th>

                    </tr>
                </thead>
                <tbody id="orderBody">
                </tbody>


            </table>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>



    </div>
    







    <button onclick="print()"><i class="fa fa-print fa-2x" aria-hidden="true"></i></button>

    <form asp-controller="ConvertUrlToPdf" asp-action="SubmitAction" method="post" style="display:none">
        <article class="post type-post status-publish format-standard hentry">
            <header class="entry-header">
                <h1 class="entry-title">SelectPdf for .NET - Convert from Html to Pdf - C# / ASP.NET MVC Sample</h1>
            </header>
            <!-- .entry-header -->

            <div class="entry-content">
                <p>
                    This sample shows how to use SelectPdf html to pdf converter to convert an url to pdf, also setting a few properties.
                </p>
                <p>
                    Url:<input type="text" value="" id="inpt" name="TxtUrl" style="width: 90%;"><br>

                </p>
                <div class="col2">
                    Pdf Page Size:<br>
                    <select name="DdlPageSize">
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="A3">A3</option>
                        <option value="A4" selected="">A4</option>
                        <option value="A5">A5</option>
                        <option value="Letter">Letter</option>
                        <option value="HalfLetter">HalfLetter</option>
                        <option value="Ledger">Ledger</option>
                        <option value="Legal">Legal</option>
                    </select><br>
                    <br>
                    Pdf Page Orientation:<br>
                    <select name="DdlPageOrientation">
                        <option value="Portrait" selected="">Portrait</option>
                        <option value="Landscape">Landscape</option>
                    </select><br>
                    <br>
                </div>
                <div class="col2">
                    Web Page Width:<br>
                    <input name="TxtWidth" type="text" value="1024" style="width: 50px;"> px<br>
                    <br>
                    Web Page Height:<br>
                    <input name="TxtHeight" type="text" value="" style="width: 50px;"> px<br>
                    (leave empty to auto detect)<br>
                    <br>

                </div>
                <div class="col-clear"></div>
                <p>
                    <input id="printSubmit" type="submit" name="BtnConvert" value="Create PDF" class="mybutton">
                </p>
            </div>
            <!-- .entry-content -->
        </article>
    </form>






    
    @*style=" border-radius:7%;color:white;background-color:black; padding:0.9em; margin-top:0.5em; margin-left:90%;"*@

    @*<div><a class="open-button" href="/Home/CreateOrder">Add Order </a></div>*@
    @*MODAL SECTION*@
    <div class="container">

        <!-- Trigger the modal with a button -->
        <button id="ModalButton" data-toggle="modal" data-target="#myModal"></button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="width:500px">
                    <div class="modal-header">
                       
                        <label id="headerModal"></label>
                    </div>
                    <div class="modal-body" style="align-self:center;position:center">
                        <p id="instruction"></p>
                    </div>
                    <div style="display:flex;">

                     
                        <table id="hori" style="border: 1px solid green; width: 50%; padding: 10px; margin: 0 auto;"></table>





                        
                    </div>

                    <table style="padding: 10px; margin: 7%; text-align: center;width:90%; border-spacing:15px; border:double; border-color:black;">

                        <thead style="background-color:lightgray;  border:double; border-color:black;" >
                            <tr>


                                <th style="text-align: center;background-color:lightgray;  border:double; border-color:black; padding:5px;">Pattern</th>
                                <th style="text-align: center;background-color:lightgray;  border:double; border-color:black; padding:5px;">Quantity</th>
                                <th style="text-align: center;background-color:lightgray;  border:double; border-color:black; padding:5px;">Total</th>
                                <th style="text-align: center;background-color:lightgray;  border:double; border-color:black; padding:5px;">Advance Paid</th>
                                <th style="text-align: center;background-color:lightgray;  border:double; border-color:black; padding:5px;">Due</th>
                                <th style="text-align: center;background-color:lightgray;  border:double; border-color:black; padding:5px;">Due Date</th>


                            </tr>
                        </thead>

                        <tbody id="modalTbody"></tbody>
                    </table>








                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="update" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>

            </div>
        </div>

    </div>




    @*MODAL SECTION END*@









    <a class="grow" style="color:white;" href="/Home/CreateOrder">Add Order </a>
</body>

<script src="./js/site.js" defer></script>