@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

@{


    ViewData["Title"] = "Edit Table";



}

<head>

</head>



<body onload="getData()">


    <div class="employpage">


        <div class="display_tableM">
            <table class="list" id="employeeList" style="width: 100%; height: 100%;">
                <thead>
                    <tr>
                        <th>EmployeeID</th>
                        <th>Name</th>
                        <th>Data</th>



                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>


            </table>
        </div>
        @*<svg width="100" height="100" onclick="alert('hi')">
        <circle cx="70" cy="60" r="20"
        stroke="green" stroke-width="4" fill="yellow" />

        </svg>
        <svg width="100" height="100" onclick="alert('hi')">
        <circle cx="70" cy="60" r="20"
        stroke="green" stroke-width="4" fill="yellow" />

        </svg>*@


        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>



    </div>







</body>





<script src="./js/site.js" defer></script>
@*< link rel="stylesheet" href="site.css" type="text/css">*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
